div.simplesocialexpandables {
	margin-top: 5px;
	text-align: center;
	clear: left;
}
div.simplesocialexpandable {
	float: left;
	text-align: center;
}
.border-round {
	border: 1px solid #D9D9D9;
	border-radius: 4px 4px 4px 4px;
	padding-left: 10px;
	height:30px;
	margin:5px;
	padding-right:10px;
	display:table;
}
div.sse-button-googleplus {
	overflow:hidden;
	width:65px;
}
div.sse-button-fblike{
	overflow:hidden;
	width:90px;
}
div.sse-button-twitter{
	overflow:hidden;
	width:90px;	
}
div.sse-button-pinterest{
	overflow:hidden;
	width:90px;	
}
div.followsimplesocialexpandables img{
	width:32px;
	height:32px;
	margin-right:5px;
}

div.followsimplesocialexpandables {
	display:none;
	height: 40px;
	text-align: center;
	clear: left;
	padding-top:5px;
}
.sse-button-fblike iframe {
	position:relative !important;
}
